
<link rel="stylesheet" href="/stylesheet/userlog.css">

<div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h3>Sign In</h3>
            <div class="d-flex justify-content-end social_icon">
              <span><i class="fab fa-facebook-square"></i></span>
              <span><i class="fab fa-google-plus-square"></i></span>
              <span><i class="fab fa-twitter-square"></i></span>
            </div>
          </div>
          <div class="card-body">
            <form action="/user/login" method="post">
            <input type="text" name="message" id="message" value="{{{message}}}" hidden>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input id="email" type="text" class="form-control" placeholder="email id">
                
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input id="password" type="password" class="form-control" placeholder="password">
              </div>
              <div class="row align-items-center remember">
                <input type="checkbox">Remember Me
              </div>
              <div class="form-group">
                <input type="submit" value="Login" class="btn float-right login_btn">
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center links">
              Are You Admin?<a href="">Click Here</a>
            </div>
            <div class="d-flex justify-content-center links">
              Don't have an account?<a href="/user/register">Sign Up</a>
            </div>
            <div class="d-flex justify-content-center">
              <a href="#">Forgot your password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>

document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('form').addEventListener('submit', formValidation);
    });

        const message=document.getElementById('message').value
        if(message){
        console.log(message)
    alert(message)
  }

    function formValidation(e) {
        e.preventDefault();

        var email = document.getElementById('email').value.trim();
        var password = document.getElementById('password').value.trim();
        

        if (email === "" || password === "" ) {
            alert("All fields are required!");
            return false;
        }

        e.target.submit();
        return true;
    }

    </script>