
<link rel='stylesheet' href='/stylesheet/userHome.css' />

<div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header text-center">
            <br>
            <h1>Home Page</h1>
            <br>
            <h2>Welcome to Quarra</h2>
            <h3>Abdul Raoof</h3>
          </div>
          <!-- <input type="submit" value="Log Out" class="btn  login_btn"> -->
        <div class="card-body text-center">
            <br>
            <br>
            <input type="submit" value="Logout" class="btn logout_btn">
          </div>
          <!-- <input type="submit" value="Log Out" class="btn  login_btn"> -->
          </div>
        </div>
      </div>